{% extends 'app.html' %}

{% block title %} {{super()}} - Login {%endblock%}

{% block content %}

<div class="wrapper d-flex justify-content-center align-items-center p-0 m-0" style="height:100vh">
    <div class="row" >
        <div class="col col-md-auto">
            <div class="d-flex justify-content-center"> <i class="fas fa-4x fa-tractor"></i> </i> </div>
            <div class="d-flex justify-content-center m-4"> <h1>AgriControl</h1> </div>
            
            <form style="width:30rem" method="POST" action="" enctype="multipart/form-data" novalidate>
                {{form.csrf_token}}
                {% if errorBd %}
                
                <div class="col-auto p-0 text-center"> 
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                     {{ errorBd }}
                  </div> 
                </div>
                {% endif %}

                <div class="col-auto p-0">
                    {% if form.errors.username %}
                      {% for error in form.errors.username %}
                            <small id="emailHelp" class="form-text text-muted m-0 p-0"> {{error}} </small>
                        {% endfor %}
                    {% endif %}
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fa fa-2x fa-user"></i> </div>
                      </div>
                      {{form.username(class="form-control form-control-lg", placeholder="USERNAME")}}
                    </div>

                </div>

                <div class="col p-0 d-none">

                    {% if form.errors.password %}
                      {% for error in form.errors.password %}
                        <small id="emailHelp" class="form-text text-muted m-0 p-0"> {{ error }} </small>
                      {% endfor %}
                    {% endif %}
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fa fa-2x fa-key"></i> </div>
                      </div>
                      {{form.password(class="form-control form-control-lg")}}
                    </div>

                </div>

                <div class="col-auto p-0 text-center">

                    {% if form.errors.image %}
                      {% for error in form.errors.image %}
                        <small id="emailHelp" class="form-text text-muted m-0 p-0"> {{ error }} </small>
                      {% endfor %}
                    {% endif %}

                    <div class="input-group d-flex justify-content-center align-items-center">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> <i class="fa fa-2x fa-fingerprint"></i> </div>
                      </div>
                      <label for="inputFile" class="form-control-lg p-0 m-0">
                        <span class="btn btn-lg btn-light border" style="cursor:pointer">Clique para logar com digital</span>
                      </label>
                      {{form.image(id="inputFile", class="d-none")}}
                    </div>
                    
                    <div class="mb-4 d-flex justify-content-center align-items-center">
                        <span id='fileName'></span>
                    </div>
                
                </div>

                <button type="submit" class="btn btn-block btn-primary">Logar</button>
            
              </form>
        </div>
    </div>
</div>
<script>
    let input = document.getElementById('inputFile'),
    fileName = document.getElementById('fileName');

    input.addEventListener('change', function(){
        let files = ''
        let arrayFiles = Array.from(this.files);
        arrayFiles.forEach(file => {
            files += file.name;
        });
        fileName.textContent = files;
    });
</script>
{% endblock %}